#container{
    border: 1px solid #c3c3c3;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    float: left;
}
#image{
    cursor: crosshair;
}
.note{    
    display: none;
}
.note, .noted{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    text-align: left;
    border: 2px solid #f00;
    border-radius: 6px;
    box-sizing: content-box;
    background-color: rgba(255,0,0,0.15);
    z-index: 100;
}
.note:hover,.noted:hover{
    background-color: rgba(252,252,82,0.15);
    border-color: #ffba00;
}
.note:hover{    
    cursor: move;
}
.noted:hover i{
    display: block;
}
.noted:hover{    
    cursor: pointer;
}
.note:hover>span,.noted:hover>span{
    background-color: #ffba00;
    color: #fff;
}
#note_content
{
    display: none;
}
.drawing {
    position:    absolute;
    background: transparent;
    border: 2px dotted green;
  }
  .form
  {
      display: none;
      float: left;
      width: 48%;
      border: #c3c3c3;
      padding: 15px;

  }
  .tip-num{
    font-size: 12px;
    background-color: red;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    line-height: 1.6em;
    cursor: default;
    position: absolute;
    top: 3px;
    left: 3px;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
img{
    max-width: 600px;
    margin:auto;
}

.ui-tooltip {
			width: 30rem;
            max-height: 25rem;
            text-overflow: ellipsis;
			text-align: center;
			box-shadow: none;
			padding: 0;
		}
.ui-tooltip-content {
    position: relative;
    padding: 0.5em;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    left: 9rem;
}
.bottom .ui-tooltip-content::before {
    bottom: -12px;
    border-color: #5be96e transparent;
    border-width: 9px 8px 0;
}
.bottom .ui-tooltip-content::after {
    bottom: -7px;
    border-color: white transparent;
    border-width: 0 0 0 0;
}
.top .ui-tooltip-content::before {
    top: -12px;
    border-color: #5be96e transparent;
    border-width: 0 8px 9px;
}
.top .ui-tooltip-content::after {
    top: -7px;
    border-color: white transparent;
    border-width: 0 0 0;
}
.flr{
    float: right !important;
}

.del-btn{
    color: #ffba00;
    border: 2px solid #ffba00;
    border-radius: 50%;
    padding: 4px 5px;
    background: #fafafa;
}
.del-btn:hover{    
    color: #fafafa;
    background: #ffba00;
}
.fll{
    float: left !important;
}
.hide{
    display: none;
}
.no-touch
{
    touch-action: none;
}
.del-imgage
{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid;
    color: #f00;
}
.del-imgage:hover{    
    color: rgb(250, 250, 250);
    background: red;
    border-color:red;

}